@(currentPage: models.common.Page[_], currentSortBy: String, currentOrder: String,
  currentFilterColumn: String, currentFilterValue: String,
  link: Int => Call)

<div id="pagination" class="pagination">
    <ul>
        @if(currentPage.hasPrev) {
        <li class="prev">
            <a href="@link(currentPage.getPageIndex - 1)">&laquo; Previous</a>
        </li>
        } else {
        <li class="prev disabled">
            <a>&laquo; Previous</a>
        </li>
        }
        @for(i <- currentPage.nearestIndexes) {
        <li@if(currentPage.isCurrentIndex(i)) { class="active"}><a href="@link(i)">@i</a></li>
        }
        <li class="current">
            <span>Displaying @currentPage.getDisplayXtoYofZ</span>
        </li>
        @if(currentPage.hasNext) {
        <li class="next">
            <a href="@link(currentPage.getPageIndex + 1)">Next &raquo;</a>
        </li>
        } else {
        <li class="next disabled">
            <a>Next &raquo;</a>
        </li>
        }
    </ul>
</div>
