@(currentPage: Page[_], currentSortBy: String, currentOrder: String, currentFilter: String)

@import utils.PaginationHelper.{link => _link}

@link(newPageIndex: Int, newSortBy: String) = @{
  _link(currentSortBy, currentOrder, currentFilter, newPageIndex, newSortBy)
}

<div id="pagination" class="pagination">
    <ul>
        @if(currentPage.hasPrev) {
        <li class="prev">
            <a href="@link(currentPage.getPageIndex - 1, null)">&laquo; Previous</a>
        </li>
        } else {
        <li class="prev disabled">
            <a>&laquo; Previous</a>
        </li>
        }
        @for(i <- currentPage.nearestIndexes) {
        <li@if(currentPage.isCurrentIndex(i)) { class="active"}><a href="@link(i, null)">@i</a></li>
        }
        <li class="current">
            <a>Displaying @currentPage.getDisplayXtoYofZ</a>
        </li>
        @if(currentPage.hasNext) {
        <li class="next">
            <a href="@link(currentPage.getPageIndex + 1, null)">Next &raquo;</a>
        </li>
        } else {
        <li class="next disabled">
            <a>Next &raquo;</a>
        </li>
        }
    </ul>
</div>
