<div id="alert" class="alert fade">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong></strong>
</div>
<h1>Access Privileges</h1>
{{#page pageableCollection}}
<div class="clearfix">
  <div id="group-paginator" class="pagination pagination-small pull-right" style="margin: -20px 0 0 0;"></div>
</div>
<form id="accessForm" name="accessForm" method="post">
  <div class="leftcol">
    <table class="table table-hover">
      <thead>
      <tr>
        {{sortableHeading pageableCollection 'name' 'Business Term'}}
      </tr>
      </thead>
      <tbody>
      {{#each list}}
      <tr>
        <td><label>{{name}}</label></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="grid">
    <table class="table table-hover">
      <thead>
      <tr>
        {{#each groups}}
        <th style="text-align: center;">{{name}}</th>
        {{/each}}
      </tr>
      </thead>
      <tbody>
      {{#each list}}
      <tr>
        {{#each ../groups}}
        <td style="text-align: center;">
          <div class="btn-group" data-toggle="buttons-checkbox">
            <button id="access-{{../id}}-{{id}}-c" name="access[{{../id}}][{{id}}]['c']" type="button"
                    class="btn btn-mini create">C</button>
            <button id="access-{{../id}}-{{id}}-r" name="access[{{../id}}][{{id}}]['r']" type="button"
                    class="btn btn-mini read">R</button>
            <button id="access-{{../id}}-{{id}}-u" name="access[{{../id}}][{{id}}]['u']" type="button"
                    class="btn btn-mini update">U</button>
            <button id="access-{{../id}}-{{id}}-d" name="access[{{../id}}][{{id}}]['d']" type="button"
                    class="btn btn-mini delete">D</button>
          </div>
        </td>
        {{/each}}
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="pull-right">
    <input type="submit" id="update-access" class="btn btn-primary" value="Update">
  </div>
</form>
<div id="paginator" class="pagination pagination-small"></div>
{{else}}
<p>None defined.</p>
{{/page}}
