<div class="clearfix" style="margin-bottom: 10px;">
  <button id="assign-responsibility" class="btn btn-small btn-success">
    <i class="icon-plus icon-white"></i>
    <span>Assign&hellip;</span>
  </button>
</div>
{{#if responsibilities}}
<table class="associations table table-hover">
  <thead>
  <tr>
    <th>Role</th>
    <th>Person</th>
    <th style="width: 77px;"></th>
  </tr>
  </thead>
  <tbody>
  {{#each responsibilities}}
  <tr>
    <td>{{role}}</td>
    <td>{{{person}}}</td>
    <td style="width: 77px;"><input class="responsibility-delete" data-id="{{cid}}" type="checkbox"></td>
  </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"></td>
    <td style="width: 77px;">
      <button id="btnDelete" class="btn btn-small btn-danger">
        <i class="icon-remove icon-white"></i>
        <span>Delete</span>
      </button>
    </td>
  </tr>
  </tfoot>
</table>
{{else}}
<p>None defined.</p>
{{/if}}
