<ul class="breadcrumb">
  <li class="active"><span class="muted">[Domain]</span> {{domain}}</li>
</ul>
<h1>Business Terms</h1>
<div class="row">
  <div class="span4">
    <div class="clearfix" style="margin-bottom: 10px;">
      <button id="create-item" class="btn btn-small btn-success" type="button">
        <i class="icon-plus icon-white"></i>
        <span>New term&hellip;</span>
      </button>
    </div>
    <h4>Taxonomy</h4>
    <div id="terms-tree" class="well"></div>
    <div id="paginator" class="pagination pagination-small" style="padding: 0;"></div>
    <div id="fileupload"><input id="files" type="file" name="files[]"></div>
  </div>
  <div class="span8 term-detail"></div>
</div>
<div class="full-window-dropzone">drop file here</div>
