<div class="row" style="margin-bottom: 40px;">
    <div class="span3"></div>
    <div class="span6">
        <h3>Find</h3>
        <form>
            <div class="input-append">
                <input type="text" class="span5">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>
</div>
<div id="home-features" class="row">
    <div class="span4 bot-right">
        <div>
            <h4>Sandbox</h4>
            <div class="clearfix" style="margin-bottom: 10px;">
                <button id="create-sandbox" class="btn btn-small btn-success" type="button">
                    <i class="icon-plus icon-white"></i>
                    <span>New sandbox&hellip;</span>
                </button>
            </div>
            <form>
                {{#each sandboxes}}
                <label class="radio">
                    <input type="radio" name="sandbox" value="{{id}}">
                    <span>{{name}}</span>
                </label>
                {{/each}}
                {{#if sandboxes.length}}
                <p style="margin-top: 10px; text-align: center;">
                    <button class="btn btn-primary" type="button">Select</button>
                </p>
                {{/if}}
            </form>
        </div>
    </div>
    <div class="span4 top-left">
        <div>
            <h4>Explore</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/#/datasources">Data Sources</a></li>
            </ul>
        </div>
    </div>
    <div class="span4 bot-right">
        <div>
            <h4>Analyze</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/#/datasets/new">Create Dataset</a></li>
            </ul>
        </div>
    </div>
</div>
