@(id: Int, accountForm: Form[User.UserDTO])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("account.edit.title"),"edit", null) {

<div class="row">
    <div class="span6">
        <h1>@Messages("account.edit.title")</h1>
    </div>
</div>

<div id="account-edit" class="row">

    <div class="span3">
        @helper.form(routes.Account.update(id)) {

            @if(accountForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-important">@accountForm.globalError.message</span>
            </p>
            }

            @inputText(
            accountForm("firstName"),
            '_label -> Messages("account.edit.firstName")
            )

            @inputText(
            accountForm("lastName"),
            '_label -> Messages("account.edit.lastName")
            )

            @_emailPartial(accountForm)

            @inputText(
            accountForm("title"),
            '_label -> Messages("account.edit.userTitle")
            )

            @inputText(
            accountForm("dept"),
            '_label -> Messages("account.edit.dept")
            )

            @textarea(
            accountForm("biography"),
            '_label -> Messages("account.edit.biography"),
            'class -> "input-xxlarge", 'rows -> 5
            )

            <input type="submit" value="@Messages("account.edit.submit")" class="btn btn-primary">
        }
    </div>

</div>
}
