@(title: String, nav: String = "", scripts: Html = Html(""))(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>

    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MMS - information asset management">
    <meta name="author" content="Mark Moloney &copy; Datascience Ltd.">
    <!-- Le scripts -->
    @if(scripts == null) {
    <script src="@routes.Assets.at("js/lib/jquery/jquery-1.9.1.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/bootstrap/bootstrap.min.js")"></script>
    } else {
        @scripts
    }
    <script src="@routes.Assets.at("js/lib/sonic/sonic.js")"></script>
    <script src="@routes.Assets.at("js/lib/d3/d3.v3.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/moment/moment.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/rickshaw/rickshaw.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/md5.js")"></script>
    @*<script src="@routes.Application.jsRoutes" defer="defer"></script>*@

    <!-- Le styles -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap-responsive.min.css")" rel="stylesheet">
    @if(session.get("theme") != "default") {
    <link href="@{routes.Assets.at("css/" + session.get("theme") + "/bootstrap.min.css")}" rel="stylesheet">
    }
    <link href="@routes.Assets.at("js/lib/backbone/templates/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/rickshaw/rickshaw.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jquery-file-upload/css/jquery.fileupload-ui.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jquery-file-upload/css/bootstrap-image-gallery.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jqtree.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/visualsearch/visualsearch-datauri.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/visualsearch/visualsearch.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/snap.min.css")" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="drawers absolute">
        <div class="left-drawer absolute">
            <div id="left-drawer"></div>
            <div id="left-menu"></div>
        </div>
    </div>

    <div class="drawers absolute">
        <div class="right-drawer absolute">
            <div id="posts-section"></div>
        </div>
    </div>

    <div id="main" class="absolute">
        <div id="layout-container">
            <div id="shade"></div>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <a href="#" id="open-left" class="pull-left snap-btn" onclick="return false;"></a>
                    <a href="#" id="open-right" class="pull-right snap-btn" onclick="return false;"></a>
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="@routes.Application.index()"><span class="appname">MMS</span> <em><span style="font-size: 14px;">information asset management</span></em></a>

                        <div id="user-control" class="btn-group pull-right">
                            @subjectPresentOr() {
                            @defining(Application.getLocalUser(session())) { user =>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="icon-user"></em> @user.getName()
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
                                <li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
                                <li class="divider"></li>
                                <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><em
                                class="icon-off"></em> @Messages("playauthenticate.navigation.logout")</a></li>
                            </ul>
                            }
                            }{
                            <a href="@routes.Application.login()" class="btn btn-primary @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a>
                            }
                        </div>

                        <div class="visual_search pull-left"></div>

                        <div class="nav-collapse pull-right">
                            <ul class="nav">
                                <li>
                                    <a href="@routes.Application.glossary()">Glossary</a>
                                </li>
                                <li>
                                    <a href="#">Registry</a>
                                </li>
                                <li class="dropdown@(" active".when(nav == ""))">
                                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                            Admin
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@routes.Application.index()">@Messages("playauthenticate.navigation.home")</a></li>
                                        <li><a href="@routes.Application.showRevisions()">Revisions</a></li>
                                        <li><a href="@routes.Settings.edit()">Settings</a></li>
                                        @*<li><a href="@routes.Application.api()">API</a></li>*@
                                    </ul>
                                </li>
                                @*<li class="@(" active".when(nav == "restricted"))"><a href="@routes.Application.restricted()">@Messages("playauthenticate.navigation.restricted")</a></li>*@
                                @subjectNotPresent() {
                                <li class="@(" active".when(nav == "signup"))"><a href="@routes.Application.signup()">@Messages("playauthenticate.navigation.signup")</a></li>
                            }
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            <div class="container">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-error">
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success">
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
            <div id="search-results" class="well"></div>
            @content
            </div><!-- /container -->
        </div>
        <footer class="clearfix">
            <div style="width: 940px; margin-left: auto; margin-right: auto;">
                <p class="pull-left"><small>&copy; 2013 Data Science Ltd</small></p>
                <div class="btn-group pull-right dropup">@* style="margin-top: 156px;">*@
                    <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                        <em class="icon-picture"></em> @session.get("theme")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.Application.theme("spacelab")">spacelab</a></li>
                        <li><a href="@routes.Application.theme("default")">default</a></li>
                        <li><a href="@routes.Application.theme("slate")">slate</a></li>
                        <li><a href="@routes.Application.theme("simplex")">simplex</a></li>
                        <li><a href="@routes.Application.theme("united")">united</a></li>
                        <li><a href="@routes.Application.theme("cosmo")">cosmo</a></li>
                        <li><a href="@routes.Application.theme("readable")">readable</a></li>
                        <li><a href="@routes.Application.theme("cerulean")">cerulean</a></li>
                        <li><a href="@routes.Application.theme("cyborg")">cyborg</a></li>
                        <li><a href="@routes.Application.theme("journal")">journal</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <div id="side-buttons"></div>
</body>
</html>
