@(isNew: Boolean, organizationForm: Form[Organization])

@import helper.twitterBootstrap._

@main("Edit Organization") {
    <h1>@if(isNew) {New} else {Edit} Organization</h1>
    @helper.form(action = routes.Organizations.update()) {
        @defining(organizationForm("id")) { idField =>
            <input type="hidden" name="@idField.name" id="@idField.id" value="@idField.value">
        }
        @helper.inputText(organizationForm("name"), '_label -> "Name", 'class -> "span5")
        <a href="@routes.Organizations.index()" class="btn">Cancel</a>
        <input type="submit" class="btn btn-primary" value="@if(isNew) {Create} else {Update}">
    }
}
