@(isNew: Boolean, id: Int, groupForm: Form[SecurityGroup.SecurityGroupDTO])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@scripts = {
<link href="@routes.Assets.at("css/select2/select2.css")" rel="stylesheet">
<style>
    #roles_field {
        margin-bottom: 10.5px;
    }
</style>
<script src="@routes.Assets.at("js/lib/jquery/jquery-1.9.1.min.js")"></script>
<script src="@routes.Assets.at("js/lib/select2/select2.js")"></script>
<script type="text/javascript">
    $(function () {
        $('#roles').select2({width: '380px'});
    });
</script>
}

@main("Edit Security Group", "", scripts) {
    <h1>@if(isNew) {New} else {Edit} Security Group</h1>
    @form(action = routes.SecurityGroups.update(id)) {
        @inputText(groupForm("name"), '_label -> "Name", 'class -> "span5")
        @select(
          groupForm("parentGroup.id"),
          options(SecurityGroup.options),
          '_label -> "Security Group",
          '_showConstraints -> false
        )
        @multiSelect(
          groupForm("roleIds"),
          options(SecurityRole.options),
          'id -> "roles",
          '_label -> "Security Roles",
          '_showConstraints -> false,
          'multiple -> true
        )
        <a href="@routes.SecuritySubjects.list(1, "name", "asc", "")" class="btn">Cancel</a>
        <input type="submit" class="btn btn-primary" value="@if(isNew) {Create} else {Update}">
    }
}
