@(signupForm: Form[_], organizationForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@scripts = {
<script src="@routes.Assets.at("js/lib/jquery/jquery-1.9.1.min.js")"></script>
<script src="@routes.Assets.at("js/lib/bootstrap/bootstrap.min.js")"></script>
<script type="text/javascript">
$(function () {
    $('#btnCheckOrganizationCode').click(function () {
        var code = $('#organizationCode').val();
        if (code) {
            var btn = $(this);
            btn.button('loading');
            setTimeout(function () {
            $.getJSON('/organizations/find?code=' + code)
                    .done(function (data) {
                        $('#organizationName').html('<span class="success">' + data.name + '</span>').show();
                    }).fail(function () {
                        $('#organizationName').html('<em class="error">Organization could not be found</em>').show();
                    }).always(function () {
                        btn.button('reset');
                    });
            },500);
        }
    });

    $('#btnCreateOrganization').click(function () {

        var closeForm = function() {
            $('#btnCancelNewOrganization').off();
            $('#btnSubmitNewOrganization').off();
            $('#organizationCode1').val('');
            $('#organizationName1').val('');
            $('#organizationCode1_field > .input > .help-inline').text('').removeClass('error');
            $('#organizationName1_field > .input > .help-inline').text('').removeClass('error');
            $('#organizationForm > .notification').hide().html('').removeClass('error');
        };

        var validateForm = function (data) {
            var hasError = false;
            if (!data.code || !data.code.length) {
                hasError = true;
                $('#organizationCode1_field > .input > .help-inline').text('You must enter a code').addClass('error');
            } else {
                $('#organizationCode1_field > .input > .help-inline').text('').removeClass('error');
            }
            if (!data.name || !data.name.length) {
                hasError = true;
                $('#organizationName1_field > .input > .help-inline').text('You must enter a name').addClass('error');
            } else {
                $('#organizationName1_field > .input > .help-inline').text('').removeClass('error');
            }
            return hasError;
        };

        $('#organizationCode_field').hide();
        $('#organizationForm').show(function () {
            $('#btnCancelNewOrganization').on('click', function () {
                $('#organizationForm').hide();
                $('#organizationCode_field').show();
                closeForm();
            });
            $('#btnSubmitNewOrganization').on('click', function () {
                var data = {
                    code: $('#organizationCode1').val(),
                    name: $('#organizationName1').val()
                };
                if (validateForm(data)) {
                    $('#organizationForm > .notification').hide().html('').removeClass('error');
                    return;
                }
                $.post('/organizations/update', data)
                        .success(function () {
                            $('#organizationForm').hide();
                            $('#organizationCode_field').show(function () {
                                $('#organizationCode').val(data.code);
                                $('#organizationName').html('<span class="success">' + data.name + '</span>').show();
                            });
                            closeForm();
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            $('#organizationForm > .notification').show().html(jqXHR.responseText).addClass('error');
                        });
            });
        });
    });
});
</script>
}

@main(Messages("playauthenticate.signup.title"), "signup", scripts) {

  <div class="row">
    <div class="span6">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="span7">
      @* Display proprietary login form *@
      @helper.form(routes.Application.doSignup) {

      @if(signupForm.hasGlobalErrors) {
        <p class="error">
        <span class="label label-important">@signupForm.globalError.message</span>
        </p>
      }

      @inputText(
        signupForm("name"),
        '_label -> Messages("playauthenticate.signup.name")
      )

      @_organizationPartial(signupForm)
      @_organizationFormPartial(organizationForm)

      @_emailPartial(signupForm)

      @_passwordPartial(signupForm)

      <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
    }
    </div>

    <div class="span3">
      @Messages("playauthenticate.signup.oauth")
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
    </div>

  </div>
}
