@(currentPage: Page[Tuple3[org.code_factory.jpa.nestedset.Node[SecuritySubject],
  SecuritySubject, Boolean]], currentSortBy: String, currentOrder: String,
  currentFilterColumn: String, currentFilterValue: String)

@import tags._

@link(newPageIndex: Int, newSortBy: String = null) = @{
  var sortBy = currentSortBy
  var order = currentOrder
  if(newSortBy != null) {
    sortBy = newSortBy
    if(currentSortBy == "asc") {
      order = "desc"
    } else {
      order = "asc"
    }
  } else {
    order = "asc"
  }
  routes.SecuritySubjects.list(newPageIndex, sortBy, order, currentFilterColumn, currentFilterValue)
}

@header(key: String, title: String) = {
<th class="@key.replace(".", "_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, key)">@title</a>
</th>
}

@scripts = {
<script src='@routes.Assets.at("js/lib/jquery/jquery-1.9.1.min.js")'></script>
<script src='@routes.Assets.at("js/lib/bootstrap/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("js/lib/infinitescroll/jquery.infinitescroll.min.js")'></script>
<script>
    $(function () {
        $('tbody').infinitescroll({
            loading: {
                finishedMsg: "<em>That's the whole list</em>",
                msg: $('<tr id="infscr-loading"><td colspan="7"><img alt="Loading&hellip;" src="@routes.Assets.at("img/throbber.gif")"><div>Loading&hellip;</div></td></tr>')
            },
            nextSelector: '.next a',
            navSelector: 'div.pagination',
            itemSelector: 'tbody tr',
            behavior: 'custom'
        });
        $.extend($.infinitescroll.prototype, {
            _showdonemsg_custom: function infscr_showdonemsg_custom() {
                var opts = this.options;

                // perform the default behaviour
                opts.loading.msg
                        .find('img')
                        .hide()
                        .parent()
                        .find('div').html(opts.loading.finishedMsg).animate({ opacity: 1 }, 2000, function () {
                            $(this).parent().fadeOut(opts.loading.speed);
                        });

                // And also hide the scroll message at bottom
                $('.infscr-msg').hide();

                // user provided callback when done
                opts.errorCallback.call($(opts.contentSelector)[0],'done');            }
        });
    });
</script>
}

@main("Security Subjects", "", scripts) {
    @if(flash.contains("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div>@flash.get("success")</div>
        </div>
    }
    @if(flash.contains("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div>@flash.get("error")</div>
        </div>
    }
    @if(flash.contains("info")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div>@flash.get("info")</div>
        </div>
    }
    <h1>User Hierarchy</h1>
    <div class="clearfix" style="margin-bottom: 10px;">
        <a href="@routes.Users.create" class="btn btn-small btn-success">
            <i class="icon-plus icon-white"></i>
            <span>New user&hellip;</span>
        </a>
        <a href="@routes.SecurityGroups.create" class="btn btn-small btn-success">
            <i class="icon-plus icon-white"></i>
            <span>New security group&hellip;</span>
        </a>
    </div>
    @if(currentPage.isEmpty) {
        <p>None defined.</p>
    } else {
        @helper.form(action = routes.SecuritySubjects.delete) {
            <table class="table table-hover">
                <thead>
                <tr>
                    @*header("name", "Name")*@
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Organization</th>
                    <th style="width: 77px;">Email Validated</th>
                    <th style="width: 94px;">Active</th>
                    <th colspan="2" style="width: 91px;"></th>
                </tr>
                </thead>
                <tbody>
                @for((node, subject, open) <- currentPage.getList) {
                    <tr>
                        <td>
                            @if(node.hasChildren()) {
                            <a href="@routes.SecuritySubjects.updateTreeDisplay(subject.getId(), s"${subject.getId()},${subject.getLeftValue()},${subject.getRightValue()}", !open, currentPage.getPageIndex, currentSortBy, currentOrder, currentFilterColumn, currentFilterValue)" class="level@subject.getLevel()"><span class="tree-toggle">@if(open) {&#x25bc;} else {&#x25ba;}</span></a>
                            <a href="#">
                                @if(subject.isInstanceOf[User]) {
                                <i class="icon-man"></i>@subject.getName()
                                } else {
                                <i class="icon-group"></i>@subject.getName()
                                }
                            </a>
                            } else {
                            <a href="#" class="level@subject.getLevel() leaf">
                                @if(subject.isInstanceOf[User]) {
                                <i class="icon-man"></i>@subject.getName()
                                } else {
                                <i class="icon-group"></i>@subject.getName()
                                }
                            </a>
                            }
                        </td>
                        <td>
                        @for((roleName, i) <- subject.roles.map(_.roleName).zipWithIndex) {
                            @{roleName}@if(i < subject.roles.size - 1){, }
                        }
                        </td>
                        <td>@subject.organization.name</td>
                        @subject match {
                          case user: User => {
                            <td style="width: 77px;">
                                @if(user.emailValidated) {
                                <i class="icon-yes"></i>
                                } else {
                                <a href="@routes.Users.resendVerificationEmail(user.getId())" title="Resend Verification Email"><i class="icon-envelope"></i></a>
                                @*<i class="icon-no"></i>*@
                                }
                            </td>
                            <td style="width: 94px;">
                                @if(user.active) {
                                <input name="activeUsers[]" value="@user.getId()" type="hidden">
                                } else {
                                <input name="inactiveUsers[]" value="@user.getId()" type="hidden">
                                }
                                <input name="activations[]" value="@user.getId()" type="checkbox"@if(user.active) { checked="checked"}>
                            </td>
                            @*if(user.emailValidated) {
                            <td style="width: 14px;"></td>
                            } else {
                            <td style="width: 14px;"><a href="@routes.Users.resendVerificationEmail(user.getId())" title="Resend Verification Email"><i class="icon-envelope"></i></a></td>
                            }*@
                            <td style="width: 14px;"><a href="@routes.Users.edit(user.getId())" title="Edit User"><i class="icon-edit"></i></a></td>
                          }
                          case group: SecurityGroup => {
                            <td style="width: 77px;"></td>
                            <td style="width: 94px;"></td>
                            @*<td style="width: 14px;"></td>*@
                            <td style="width: 14px;"><a href="@routes.SecurityGroups.edit(group.getId())" title="Edit Group"><i class="icon-edit"></i></a></td>
                          }
                        }
                        <td style="width: 77px;"><input name="deletions[]" value="@subject.getId()" type="checkbox"></td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" style="vertical-align: middle;">
                        @paginator(currentPage, currentSortBy, currentOrder, currentFilterColumn, currentFilterValue, link(_))
                        @if(currentPage.hasNext()) {
                        <div class="infscr-msg"><em>Scroll down to see more</em></div>
                        }
                    </td>
                    <td style="width: 94px;">
                        <input type="submit" name="btnActivate" class="btn btn-small" value="(De)Activate">
                    </td>
                    @*<td style="width: 14px;"></td>*@
                    <td style="width: 14px;"></td>
                    <td style="width: 77px;">
                        <button type="submit" name="btnDelete" class="btn btn-small btn-danger">
                            <i class="icon-remove icon-white"></i>
                            <span>Delete</span>
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        }
    }
}
