@charset "UTF-8";

html, body {
  /*height: 100%;*/
}

#main {
  background-image: url("../img/backgrounds/furley_bg.png")
}

#layout-container {
  min-height: 100%;
}

footer {
  position: relative;
  height: 75px;
  margin-top: -96px;
  padding-top: 20px;
  background: url(../img/footer-bg.png);
  border-top: 1px solid rgb(204,204,204);
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);

  /*height: 250px;
  margin-top: -250px;
  background: url("../img/backgrounds/zen_garden.jpg") no-repeat bottom right;
  background-size: 100% 228px; /* width height *//* 1676px 228px */
  p {
    /*color: #333;*/
    color: #ccc;
  }
}

#layout-container > .container {
  padding-top: 42px;
  padding-bottom: 158px;/* 250px;*/
}

form .error {
  input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
  }
  .help-inline {
    color: #B94A48;
  }
}

.providers {
	margin: 5px 0;
	list-style: none;
	li {
		display: inline;
	}
}

.help-block {
	margin: -10px 0 10px 0;
	font-size: 10px;
	color: #ccc !important;
}

h1 {
	margin-bottom: 20px !important;
}

.brand {
  .appname {
    color: #1e90ff;
  }
}

.items {
  list-style-type: none;
  margin-left: 0;
  li {
    margin-top: 1em;
  }
  li:first-child {
    margin-top: 0;
  }
  .item-title {
    font-size: 1.25em;
  }
}

.accordion-heading.selected .accordion-toggle {
  font-weight: bold;
  color: lighten(#D47500, 15%);
}

.accordion-heading a.pull-right {
  padding: 8px 15px;
}

.accordion-body {
/*  background-color: #F7F7F9;*/
}
.accordion-body.in {
    border-bottom: 1px solid #E1E1E8;
}

.page-content {
  position: relative;
  top: -1000px;
}

.accordion-inner {
  padding-left: 3em !important;
}

h1 + .btn-group {
  margin-top: -20px;
}

div.media {
  margin-bottom: 15px;
}

.media .pull-left {
  margin-right: 0;
}

.media .pull-right {
  margin-left: 0;
}

.media .reply {
  margin-left: 68px;
}

.media-body label {
  margin-bottom: 0;
  margin-left: 20px;
}

div.media.reply-body,
.media .media {
  margin-bottom: 0;
}

.reply-body label {
  margin-left: 0;/*68px;*/
}
/* uncomment to align right edge of post bubble with edge of reply
.btn-post {
  margin-right: 68px;
}
*/
.bubble {
  border-radius: 5px;
  border: 1px solid #F8F8F8;
/*border-bottom-color: #B3B3B3;*/
  display: inline-block;
  padding: 10px 14px;
  position: relative;
  vertical-align: top;
  /*max-width: 300px;/* to align right edge with reply edge, set to 232px;*/
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
/*text-shadow: 0 1px 2px rgba(0, 0, 0, .5);*/
  color: #333;

  /*background-image: -webkit-linear-gradient(top left, #2F96B4, #5BC0DE); /* aqua */
  /*background-image: -webkit-linear-gradient(top left, #BBB, #EEE); /* grey */
  /*background-image: -webkit-linear-gradient(top left, #5A8F00, #B8DB29); /* green */
  /*background-image: -webkit-linear-gradient(top left, #62C462, #51A351); /* green 2 */
  /*background-image: -webkit-linear-gradient(top left, #FFF, #EEE);*/

  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(top, #FFF, #EEE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
  background-image: -webkit-linear-gradient(top, #FFF, #EEE);
  background-image: -o-linear-gradient(top, #FFF, #EEE);
  background-image: linear-gradient(to bottom, #FFF, #EEE);
  background-repeat: repeat-x;

  /* brushed metal look */
/*background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%), linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);*/

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
/*-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px rgba(0, 0, 0, .1);*/
}

.bubble.editable {
/*border: 1px dashed #666;/*#B3B3B3;*/
/*border: 1px solid;*/
  border: 1px solid rgba(0, 0, 0, .95);/*#CCC;*/
  background-color: transparent;/*#FFF;*/
  background-image: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -webkit-transform: rotateY(-0deg);
  -moz-transform: rotateY(-0deg);
  -o-transform: rotateY(-0deg);
  transform: rotateY(-0deg);
  position: relative;
  background-clip: padding-box;
}

.bubble.not-empty {
/*border-style: solid;*/
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
}

.bubble.selected, .bubble.selected::before {
/*box-shadow: -2px 2px 2px 0 rgba(119, 162, 208, .4);*/
/*border-color: #cd0200 #cd0200 #810100; /* red */
/*border-color: #558bc4 #558bc4 #356598; /* blue */
/*border-color: #819e37 #819e37 #536523; /* green */
/*background-image: none;*/
/*border-color: rgb(79, 217, 48) rgb(71, 203, 42) rgb(60, 181, 33); /* green */
/*border: 1px solid;*/
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
/*border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.7);*/
/*border-color: rgba(121, 122, 124, 0.25) rgba(121, 122, 124, 0.4) rgba(121, 122, 124, 0.7);*/
}

.me.bubble.selected, .me.bubble.selected::before/*, .me.bubble.editable*/ {
/*box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);*/
}

.you.bubble.selected/*, .you.bubble.editable*/ {
/*box-shadow: 2px 2px 2px 0 rgba(178, 178, 178, .4);*/
}

.bubble::before {
/*background-color: #2F96B4; /* aqua */
/*background-color: #BBB; /* grey */
/*background-color: #5A8F00; /* green */
/*background-color: #62C462; /* green 2 */
  border: 1px solid #F8F8F8;
/*border-bottom-color: #B3B3B3;*/
  background-color: #F8F8F8;
  content: "\00a0";
  display: block;
  height: 12px;
  position: absolute;
  top: 10px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 15px;
}

.bubble.editable::before {
  border: 1px solid rgba(0, 0, 0, .95);
}

.me {
  float: left;
/*margin: 5px 45px 5px 20px;*/
  margin: 5px 0 10px 20px;
}

.me::before {
/*box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);*/
  background-color: #f8f8f8;/*#FFF;*/
  left: -9px;
  /*border-top: none;
  border-right: none;*/
}

.me.editable::before {
  background-color: #444;
/*border: 1px dashed #B3B3B3;*/
  border-top: none;
  border-right: none;
}

.you.editable::before {
  background-color: #444;
/*border: 1px dashed #B3B3B3;*/
  border-bottom: none;
  border-left: none;
}

.me.selected::before/*, .me.editable::before*/ {
/*box-shadow: 0 2px 2px 0 rgba(178, 178, 178, .4);*/
  left: -9px;/*-10px;*/
}

.me.selected::before {
/*box-shadow: -2px 2px 2px 0 rgba(119, 162, 208, .4);*/
/*border-color: #cd0200 #cd0200 #810100; /* red */
/*border-color: #558bc4 #558bc4 #356598; /* blue */
/*border-color: #819e37 #819e37 #536523; /* green */
/*border-color: rgb(79, 217, 48) rgb(71, 203, 42) rgb(60, 181, 33); /* green */
/*border: 2px solid;
  border-color: #CCC #999 #333;*/
  border-color: #CCC #CCC #B3B3B3;
  border-top: none;
  border-right: none;
}

.you.selected::before {
/*border: 1px solid;*/
  border-color: #CCC #CCC #B3B3B3;
  border-bottom: none;
  border-left: none;
}

.me.not-empty::before {
/*border-style: solid;*/
  border-color: #CCC #CCC #B3B3B3;
  border-top: none;
  border-right: none;
}

.you.not-empty::before {
/*border-style: solid;*/
  border-color: #CCC #CCC #B3B3B3;
  border-bottom: none;
  border-left: none;
}

.you {
  float: right;
/*margin: 5px 20px 5px 45px;*/
  margin: 5px 20px 10px 20px;
}

.you::before {
/*box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);*/
  background-color: #F8F8F8;
  right: -9px;
  border-bottom: none;
  border-left: none;
}

.you.selected::before/*, .you.editable::before*/ {
/*box-shadow: 2px 0 2px 0 rgba(178, 178, 178, .4);*/
  right: -9px;/*-10px;*/
}

.bubble.editable {
  padding: 1px;
}

.bubble textarea {
  background-color: #444;/*transparent;*/
  border: 0;
  box-shadow: none;
  margin: 0;
  width: 276px;/* to align right edge with reply edge, set to 210px;*/
  resize: vertical;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: #fff;
}

.bubble.selected textarea {
  width: 276px;/* allow addtl. 2px for increase of border width when selected*/
}

.me.bubble textarea {
  padding-left: 14px;
}

small.me {
  clear: left;
  margin: -5px 0 5px 20px;
}

small.you {
  clear: right;
  margin: -5px 20px 5px 0;
}

.you.bubble textarea {
  padding-right: 14px;
}

#new-post a, .reply-body a {
  margin-top: 21px;
}

/* Webkit Only */
.bootstrap-growl.alert-info:before {
  background: -webkit-gradient(linear, 0% -16.5%, 16.5% -100%, from(rgba(255, 255, 255, .0)), to(rgba(255, 255, 255, .6)), color-stop(.99, rgba(255, 255, 255, .2)), color-stop(.5, rgba(255, 255, 255, .0))) no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .5)), color-stop(.8, rgba(255, 255, 255, .0)));
  position: absolute;
  content: '.';
  line-height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  -webkit-border-radius: 5px;
}

.bootstrap-growl.alert-info {
  background: rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
  border: 1px solid rgba(0, 0, 0, .95);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: #fff;
  -webkit-transform: rotateY(-0deg);
  -moz-transform: rotateY(-0deg);
  -o-transform: rotateY(-0deg);
  transform: rotateY(-0deg);
  position: relative;
  background-clip: padding-box;
}

.popover hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.popover {
  width: 500px;
  max-width: 500px;
}

.popover.bottom {
  margin-top: 20px;
}

/*
.popover.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}*/

.icon-paperclip {
  background-image: url("../img/paperclip_16.png");
  background-size: 14px 14px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

#attachments {
  display: none;
  margin: 10px 68px 0 68px;
}

.dropzone {
  margin: 10px 0;
  height: 40px;
  border: 2px dashed #333;
  border-radius: 7px;
  text-align: center;
  line-height: 40px;
  background: #f5f5f5;
}

.dropzone.in {
  /*width: 468px;*/
  height: 200px;
  line-height: 200px;
  font-size: larger;
}

.dropzone.hover {
  background: lawngreen;
  font-weight: bold;
}

.dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.files {
  .progress {
    width: 100px;
  }

  td {
    padding-left: 0;
  }

  td.start .btn, td.cancel .btn, td.delete .btn {
    width: 47px;
  }

  td.cancel, td.delete {
    width: 65px;
    min-width: 65px;
    padding-right: 0;
  }

  td.name {
    text-align: left;
    width: 100%;
  }
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

#side-buttons {
  position: fixed;
  top: 180px;
  right: 0;
  z-index: 99;
}

.side-button {
  width: 40px;
  margin: 0;
  margin-top: -31px;
  padding: 5px 11px;
  background: #333;/*#f5f5f5;*/
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: bottom right;
  -o-transform: rotate(-90deg);
  -o-transform-origin: bottom right;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#side-panel {
/*  position: relative;
  display: none;
  -webkit-transition: left 400ms ease;
  transition: left 400ms ease;*/

  .side-panel-head {
    width: 366px;
    height: 42px;
    line-height: 42px;
    font-size: 19px;
    margin: 0;
    padding: 0 11px;
    /*background: #f5f5f5;*/
  }

  .side-panel-head.ps-top-to-bottom {
    border-top: 3px solid black;
    border-bottom: 1px solid #e5e5e5;
  }

  .side-panel-head.ps-top-to-bottom:before, .side-panel-head.ps-top-to-bottom:after {
    .border-gradient(1, .25);
  }

  .side-panel-content-border {
    position: absolute;
    margin-top: 5px;
    width: 388px;
    height: 500px;
    background: transparent;
    z-index: -1;
  }

  .side-panel-content-border.ps-top-to-bottom:before, .side-panel-content-border.ps-top-to-bottom:after {
    .border-gradient(.25, 0);
  }

  .side-panel-content {
    width: 368px;
    margin-top: 21px;
    padding: 0 15px 0 5px;
  }

  label {
    color: #ccc;/*#000;*/
  }
}

/*#side-panel.in {
  left: 0 !important;
}*/

.ps-top-to-bottom {
  position: relative;
}

.ps-top-to-bottom:before {
  left: -3px;
}

.ps-top-to-bottom:after {
  right: 0px;
}

.border-gradient(@start, @end) {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, @start)), to(rgba(0, 0, 0, @end)));
  backgorund-image: -webkit-linear-gradient(rgba(0, 0, 0, @start), rgba(0, 0, 0, @end));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, @start), rgba(0, 0, 0, @end));
  background-image: -o-linear-gradient(rgba(0, 0, 0, @start), rgba(0, 0, 0, @end));
  top: -3px;
  bottom: -3px;
  width: 3px;
}

.top-to-bottom {
  border-width: 3px;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) 1 100%;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.icon-edit {
  margin-right: 5px;
}

.bot-left {
  position: relative;
}

.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.bot-left:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #000);
  background-image: -moz-linear-gradient(transparent, #000);
  backgorund-image: -o-linear-gradient(transparent, #000);
}
.bot-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(left, #000, transparent);
  background-image: -mox-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
}

.bot-right {
  position: relative;
}

.bot-right:before, .bot-right:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.bot-right:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#333), to(transparent)); /*08c*/
  background-image: -webkit-linear-gradient(transparent, #333);
  background-image: -moz-linear-gradient(transparent, #333);
  backgorund-image: -o-linear-gradient(transparent, #333);
}
.bot-right:after {
  left: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 100% 0, 0 0, from(#333), to(transparent));
  background-image: -webkit-linear-gradient(right, #333, transparent);
  background-image: -mox-linear-gradient(right, #333, transparent);
  background-image: -o-linear-gradient(right, #333, transparent);
}

.top-left {
  position: relative;
}

.top-left:before, .top-left:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
}

.top-left:before {
  bottom: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(transparent));
  background-image: -webkit-linear-gradient(bottom, transparent, #333);
  background-image: -moz-linear-gradient(bottom, transparent, #333);
  backgorund-image: -o-linear-gradient(bottom, transparent, #333);
}
.top-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#333), to(transparent));
  background-image: -webkit-linear-gradient(left, #333, transparent);
  background-image: -mox-linear-gradient(left, #333, transparent);
  background-image: -o-linear-gradient(left, #333, transparent);
}

div[class*="span"] > div {
  padding: 0 10px;
}

.tree {
  margin-bottom: 1em;
  background-color: #ccc;
  padding: 1em;
}

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(../img/spinner.gif);
  margin-left: 8px;
}

#stats-link {
  display: none;
  padding-left: 20px;
}

#stats-link.red {
  background: url("../img/red_light.png") no-repeat left center;
}

#stats-link.green {
  background: url("../img/green_light.png") no-repeat left center;
}

#home-features > div {
  background: rgba(255, 255, 255, 0.9);
}

#home-features div div {
  min-height: 120px;
}

#home-features form {
  margin-top: 21px;
}

#editor {
  position: relative;
  width: 940px;
  min-height: 350px;
  margin-bottom: 20px;
}

.custom .controls {
  margin-left: 0;
}

.autotag {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 6px;
  color: #666;
  overflow: visible;
  min-height: 50px;
  width: 366px;
}

div.object {
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-left: 10px;

  div.object {
    margin: 3px 3px 3px 0;
  }

  label {
    display: block;
    margin-top: 0.5em;
    color: #999;
  }

  div.readonly {
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0.5em;

    div.readonly {
      margin: 0;
    }
  }
}

.form-vertical  {
  .control-label {
    text-align: left;
    float: none;
  }

  .control-group {
    margin-bottom: 10px;
  }

  .control-group.wide {
    width: 366px !important;
  }
}

.readonly label {
  color: #999;
  display: inline-block;
}

table input[type="checkbox"] {
  margin: 0 0 5px 0;
}

i[class^="icon-"] {
  margin-top: 3px;
}

.btn-small i[class^="icon-"] {
  margin-top: 2px;
}

#members {
  font-size: 85%;
  margin-left: 11px;

  li {
    list-style-image: url(../img/bullet.png);
  }
}

.leftcol {
  float: left;
  width: 191px;

  td {
    padding-right: 0;
  }

  label {
    margin: 0;
    line-height: 31px;
    width: 183px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#accessForm .leftcol label {
  line-height: 26px;
}

.grid {
  float: left;
  width: 700px;
  overflow-x: scroll;

  select, input {
    margin: 0;
  }
}

#left-menu {
  background: #333;

  h3 {
    margin-top: 0px;
    margin-left: 10px;
  }

  li {
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #1A1A1A;
  }
}

.full-window-dropzone {
  position: absolute;
  z-index: 101;
  top: 53px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 14px;
  border: 3px dashed #1e90ff;
  background: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  text-align: center;
  display: none;
}

.full-window-dropzone.in {
  display: block;
}

#responsibilitiesForm table, #accessForm table {
  font-size: 13px;

  label, select, input, button {
    font-size: 13px;
  }

  select {
    width: 175px;
  }

  button.active {
    color: rgba(255, 255, 255, 0.75);
  }

  button.create.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

  button.read.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

  button.update.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

  button.delete.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
}

#accessForm table button {
  color: #999;
}
