<ul>
    {{#hasPrevious pageableCollection}}
    <li class="prev">
        <a href="#">&laquo; Previous</a>
    </li>
    {{else}}
    <li class="prev disabled">
        <span>&laquo; Previous</span>
    </li>
    {{/hasPrevious}}
    <li class="current">
        <span>{{start}} to {{end}} of {{totalRowCount}}</span>
    </li>
    {{#hasNext pageableCollection}}
    <li class="next">
        <a href="#">Next &raquo;</a>
    </li>
    {{else}}
    <li class="next disabled">
        <span>Next &raquo;</span>
    </li>
    {{/hasNext}}
</ul>
