<h3>Navigation</h3>
<ul class="nav nav-pills nav-stacked">
    <li><a href="#/terms">Business Terms</a></li>
    <li><a href="#/responsibilities">Responsibilities</a></li>
    <li><a href="#/access">Access Privileges</a></li>
    <li><a href="#/people">People</a></li>
    <li><a href="#/stakeholder-roles">Stakeholder Roles</a></li>
    <li><a href="#/usergroups">User Groups</a></li>
    <li><a href="#/datasources">Data Sources</a></li>
    <li><a href="#/applications">Applications</a></li>
    <li><a href="#/vendors">Vendors</a></li>
</ul>
