<div id="alert" class="alert fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong></strong>
</div>
<h1>Responsibilities</h1>
{{#if terms}}
<form id="responsibilitiesForm" name="responsibilitiesForm" method="post">
<div class="leftcol">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Business Term</th>
        </tr>
        </thead>
        <tbody>
        {{#each terms}}
        <tr>
            <td><label>{{name}}</label></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="grid">
    <table class="table table-hover">
        <thead>
        <tr>
            {{#each people}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each terms}}
        <tr>
            {{#each ../people}}
            <td>
                <select name="role[{{../id}}][{{id}}]">
                    <option></option>
                    {{#each ../../roles}}
                    <option value="{{id}}" {{isRoleSelected this term=../../this person=../this}}>{{name}}</option>
                    {{/each}}
                </select>
            </td>
            {{/each}}
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="pull-right">
    <input type="submit" id="update-responsibilities" class="btn btn-primary" value="Update">
</div>
</form>
{{else}}
<p>None defined.</p>
{{/if}}
