<ul class="breadcrumb">
    <li class="active"><span class="muted">[Domain]</span> {{domain}}</li>
</ul>
<h1>Business Terms</h1>
<div class="row">
    <div class="span4">
        <div class="clearfix" style="margin-bottom: 10px;">
            <button id="create-term" class="btn btn-small btn-success" type="button">
                <i class="icon-plus icon-white"></i>
                <span>New term&hellip;</span>
            </button>
        </div>
        <h4>Taxonomy</h4>
        <div id="terms-tree" class="tree"></div>
        <div id="fileupload"><input id="files" type="file" name="files[]"></div>
    </div>
    <div id="term-section" class="span8"></div>
</div>
<div class="full-window-dropzone">drop file here</div>
