<ul class="breadcrumb">
    <li class="active"><span class="muted">[Domain]</span> {{domain}}</li>
</ul>
<h1>Business Terms</h1>
<div class="row">
    <div class="span4">
        <div class="clearfix" style="margin-bottom: 10px;">
            <button id="create-term" class="btn btn-small btn-success" type="button">
                <i class="icon-plus icon-white"></i>
                <span>New term&hellip;</span>
            </button>
        </div>
        <div id="terms-tree" class="tree"></div>
    </div>
    <div class="span8">
        <div id="term-form"></div>
        <div id="term-associations"></div>
    </div>
</div>
