<a href="#" class="pull-right">
    <img class="media-object" src="/assets/img/default-user-icon.png" alt="markmo" style="width: 48px; height: 48px;">
</a>
<div class="media-body">
    <label for="reply-message">Reply</label>
    <div class="bubble you editable">
        <textarea id="reply-message" name="reply-message"></textarea>
    </div>
</div>
<div class="pull-right">
    <input type="hidden" id="reply-to-post-id" name="reply-to-post-id" value="{{postId}}"/>
    <button id="btn-reply-submit" class="btn btn-primary">Reply</button>
</div>
