<h1>Revised Entities</h1>
<div>
    <span>Revision ID:</span>
    {{revision.id}}
</div>
<div>
    <span>Revision Date:</span>
    {{revision.date}}
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Revision Action</th>
        <th>Entity Type</th>
        <th>Entity ID</th>
    </tr>
    </thead>
    <tbody>
    {{#each modifiedEntities}}
    <tr>
        <td>
            {{revisionType}}
        </td>
        <td>
            {{entityType}}
        </td>
        <td>
            {{entityId}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
