<ul class="breadcrumb">
    {{#if isDataSource}}
    <li><a href="#/data-sources/{{context.id}}/schemas"><span class="muted">[Data Source]</span> {{context.name}}</a></li>
    {{else}}
    <li><a href="#/sandboxes/{{context.id}}"><span class="muted">[Sandbox]</span> {{context.name}}</a></li>
    {{/if}}
</ul>
<h1>Schemas</h1>
<div class="row">
    <div class="span7">
        <ul class="items">
            {{#each schemas}}
            <li>
                <a href="#/schemas/{{id}}/tables" class="item-title">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div id="posts-section"></div>
</div>
