@(f: Form[_], constraints: Boolean = false)

@import helper._
@import helper.twitterBootstrap._

@input(f("organizationCode"), '_label -> "Organization Code") { (id, name, value, args) =>
  <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
  <button id="btnCheckOrganizationCode" class="btn btn-small has-spinner start" type="button"
  data-loading-text="<div id='floatingBarsG'><div class='blockG' id='rotateG_01'></div><div class='blockG' id='rotateG_02'></div><div class='blockG' id='rotateG_03'></div><div class='blockG' id='rotateG_04'></div><div class='blockG' id='rotateG_05'></div><div class='blockG' id='rotateG_06'></div><div class='blockG' id='rotateG_07'></div><div class='blockG' id='rotateG_08'></div></div> <span>Checking&hellip;</span>"
  style="margin-bottom: 10.5px; margin-left: 10px;">
    <span>Check</span>
  </button>
  <button id="btnCreateOrganization" class="btn btn-small" type="button" style="margin-bottom : 10.5 px ;">
    <i class="icon-plus"></i>
    <span>Create organization</span>
  </button>
}
<div id="organizationName" style="display: none; margin-bottom: 10px;"></div>
