@(isNew: Boolean, id: Int, userForm: Form[models.account.User.UserDTO])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@scripts = {
  <link href="@routes.Assets.at("css/select2/select2.css")" rel="stylesheet">
  <style>
  #roles_field {
    margin-bottom: 10.5px;
  }
  </style>
  <script src="@routes.Assets.at("js/lib/jquery/jquery-1.9.1.min.js")"></script>
  <script src="@routes.Assets.at("js/lib/select2/select2.js")"></script>
  <script type="text/javascript">
  $(function () {
    $('#roles').select2({width: '380px'});
  });
  </script>
}

@main("Edit User", "", scripts) {

  <h1>@if(isNew) {New} else {Edit} User</h1>

  @form(action = controllers.account.routes.Users.update(id)) {

    @inputText(userForm("firstName"), '_label -> "First Name", 'class -> "span5")

    @inputText(userForm("lastName"), '_label -> "Last Name", 'class -> "span5")

    @inputText(userForm("email"), '_label -> "Email", 'class -> "span5")

    @inputText(userForm("title"), '_label -> "Title", 'class -> "span5")

    @select(
      userForm("organization.id"),
      options(models.account.Organization.options),
      '_label -> "Organization",
      '_showConstraints -> false
    )

    @select(
      userForm("parentGroup.id"),
      options(models.account.SecurityGroup.options),
      '_label -> "Security Group",
      '_showConstraints -> false
    )

    @multiSelect(
      userForm("roleIds"),
      options(models.account.SecurityRole.options),
      'id -> "roles",
      '_label -> "Security Roles",
      '_showConstraints -> false,
      'multiple -> true
    )

    @inputText(userForm("dept"), '_label -> "Department", 'class -> "span5")

    @textarea(userForm("biography"), '_label -> "Biography", 'class -> "span5")

    <a href="@controllers.account.routes.SecuritySubjects.list(1, "name", "asc", "")" class="btn">Cancel</a>

    <input type="submit" class="btn btn-primary" value="@if(isNew) {Create} else {Update}">
  }
}
